<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ebEntities" connectionString="metadata=res://*/appModel.csdl|res://*/appModel.ssdl|res://*/appModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.40.96.195;initial catalog=OMS_Japan;user id=oms2022jp;password=0okm-pl,;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="logEntities" connectionString="metadata=res://*/logModel.csdl|res://*/logModel.ssdl|res://*/logModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.40.96.195;initial catalog=OMS_Japan_Log;persist security info=True;user id=oms2022jp;password=0okm-pl,;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>