@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>名称：
                        </th>
                        <td>
                            <input name="FTPName" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>FTP主机：
                        </th>
                        <td>
                            <input name="IP" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            FTP端口：
                        </th>
                        <td>
                            <input name="Port" type="text" class="easyui-numberbox input-mini" value="22" data-options="min:0" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>FTP用户：
                        </th>
                        <td>
                            <input name="UserName" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>FTP密码：
                        </th>
                        <td>
                            <input name="Password" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            远程路径：
                        </th>
                        <td>
                            <input name="FilePath" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            简要描述：
                        </th>
                        <td>
                            <textarea name="Remark" class="easyui-textarea  input-xlarge" style="height:100px;"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
