@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _m = Model;
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <input name="ID" type="hidden" value="@_m.UserID" />
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["users_editpassword_password"]：
                        </th>
                        <td>
                            <input name="Password" type="password" class="easyui-textbox input-large" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>@ViewBag.LanguagePack["users_editpassword_reset_password"]：
                        </th>
                        <td>
                            <input name="SurePassword" type="password" class="easyui-textbox input-large" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

