/* CSS Document @charset "utf-8"; */
html {
	font-size: 12px;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

a {
	background-color: transparent;
	color: #275ca8;
	text-decoration: none;
}

a:active, a:hover {
	outline: 0;
	color: #da0205;
	text-decoration: underline;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	margin: .67em 0;
	font-size: 2em;
}

mark {
	color: #000;
	background: #ff0;
}

small {
	font-size: 80%;
}

sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

img {
	border: 0;
}

figure {
	margin: 1em 40px;
}

hr {
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	list-style-type: none;
}

select {
	font-size: 12px;
}

input {
	font-size: 12px;
	line-height: normal;
}

input[type="text"]{
	border:1px #d4d4d4 solid;
}

input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 30px;
}

fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid #c0c0c0;
}

legend {
	padding: 0;
	border: 0;
}

textarea {
    margin:3px;
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td, th {
	padding: 0;
}

/**main*/
.home{
    margin: 1px 5px 0 5px;
}

.home .title{
    font-size: 13px;
	line-height: 24px;
    padding:3px 0;
}

.home .main_panel{
    float:left;
    margin:3px;
    border:1px #d4d4d4 solid;
}

.home .main_panel .head{
    padding-left:10px;
    font-weight:bold;
    height:31px;
    line-height:31px;
    background-color:#f2f2f2;
    border-bottom:1px #d4d4d4 solid;
}

.home .main_panel .head span{
    float:right;
    padding-right:10px;
}

.home .main_panel .head span a{
    font-weight:normal;
}

.home .main_panel .head span a:hover{
     text-decoration:none;
}

.home .main_panel li{
    padding:0 3px;
    height:30px;
    line-height:30px;
}

.home .main_panel li .w50{
   display:inline-block;
   width:50%;
}

.home .main_panel li .w20{
   display:inline-block;
   width:20%;
}

.home .main_panel li .w30{
   display:inline-block;
   width:30%;
}

.home .panel_33{
    width:33%;
}

.home .panel_50{
    width:49%;
}

.home .panel_66{
    width:65%;
}

.home .panel_99{
    width:99%;
}

.home .panel_100{
    width:100%;
}

.home .table_list{
    
}

.home .table_list ul
{
    padding:10px;
}

.home .table_list ul li
{
    line-height:32px;
}

.home .table_list ul li span{
    width:175px;
    display:inline-block;
}

.home .main_panel table{
    width:100%;
    margin-top:10px;
}

.home .main_panel table tr td {
    padding-left:10px;
    height:36px;
    line-height:36px;
}

.home .small_icon{
    font-size:10px;
}

/**main**/
.main {
	margin: 1px 5px 0 5px;
}

.main .main_left{
   overflow:hidden;
   overflow-x:auto;
   float:left;
   border:1px #d4d4d4 solid;
   margin-right:5px;
}

.main .main_left .title{
    /*background-color:#f5f5f5;*/
    background: -moz-linear-gradient(top, #fefefe 0%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(top, #fefefe 0%,#f1f1f1 100%);
    background: -o-linear-gradient(top, #fefefe 0%,#f1f1f1 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#f1f1f1 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#f1f1f1 100%);
    padding-left:10px;
    height:28px;
    line-height:28px;
    border-bottom:1px #d4d4d4 solid;
}

.main .main_left .title a{
    float:right;
    display:block;
    width:16px;
    height:16px;
    margin: 5px 5px 0 0;
}

.main .main_left .context{
    
}

.main .main_right{
   width:80%;
   float:left;
}

.main_top {
	font-size: 13px;
	line-height: 24px;
    padding:3px 0;
}

.main_top a{
    padding-left:15px;
    background:url(images/rlist.gif) no-repeat 7px 6px;
}

.main_top i{
    color:#337ab7;
}

.main_search {
	border: 1px #d4d4d4 solid;
    padding:5px 0;
}

.main_search label
{
    font-weight:normal;
    padding:0 2px 0 3px;
}

.main_search ul {
	padding: 1px 0 0 10px;
}

.main_search ul li {
	display:inline-block;
	padding:2px 10px;
    line-height:26px;
}

.main_search span.right{
    float:right;
    display:inline-block;
    padding-right:10px;
}

.main_search ul li input[type=text] {
	color: #666;
}

.main_complex_search .title{
    line-height:36px;
    padding-left:20px;
    background-color:#f2f2f2;
    border-color: #d4d4d4;
    border-width: 1px 1px 0 1px;
    border-style: solid;
}

.main_complex_search .border{
    border:1px #d4d4d4 solid;
}

.main_complex_search .title span{
    float:right;
    padding-right:10px;
}

.main_complex_search .title i{
    font-size:16px;
    padding-left:5px;
    cursor:pointer;
}

.main_complex_search table.table{
    width: 100%;
    margin: auto;
    background-color: #d4d4d4;
    border-collapse: separate;
    border-spacing: 1px;
}
.main_complex_search table.table th{
    width: 10%;
    background-color: #f2f2f2;
    text-align: center;
    padding: 3px 0;
    font-weight: normal;
    line-height: 32px;
    border:none;
}
.main_complex_search table.table td{
    text-align: left;
    background-color: #fff;
    line-height: 26px;
    padding-left:10px;
    border:none;
}
.main_complex_search table.table td label{
    font-weight:normal;
    padding:0 2px 0 3px;
}

.main_complex_search table.table td.btn_button{
    text-align: center;
}

.main_complex_search .bottom{
    text-align: center;
    line-height:36px;
    padding-left:20px;
    background-color:#fff;
    border-color: #d4d4d4;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}

.main_bar{
    border-radius:5px;
    border: 1px #d4d4d4 solid;
    padding:5px 0; 
}

.main_bar ul {
	padding: 1px 0 0 10px;
}

.main_bar ul li {
	display:inline-block;
    width:33%;
    line-height:28px;
}

.main_bar ul li span{
    width:75px;
    padding:0 10px 0 10px;
}

.main_list {
	margin: 5px 0;
}

.main_list .title{
    padding:3px 0 3px 10px;
    font-size:14px;
    background: -webkit-linear-gradient(bottom right,#066cac,#066cac,#5bc0de);
    background: -moz-linear-gradient(bottom right,#066cac,#066cac,#5bc0de);
    background: -o-linear-gradient(bottom right,#066cac,#066cac,#5bc0de);
    background: linear-gradient(to bottom right,#066cac,#066cac,#5bc0de);
    line-height:28px;
    width:175px;
    border-radius:5px 5px 0 0;
    color:#fff;
}

.main_list .title .title_right{
    float:right;
    padding-right:10px;
}

.main_list table.table {
	width: 100%;
	background-color: #d4d4d4;
	border-collapse: separate;
	border-spacing: 1px;
	font-size: 12px;
}

.main_list table.table th {
	width: 10%;
	background-color: #f2f2f2;
	text-align: center;
    padding:3px 0;
	font-weight: normal;
	line-height: 24px;
}

.main_list table.table td{
	text-align: left;
    padding:0 3px;
	background-color: #fff;
    vertical-align: middle;
    line-height: 22px;
}

.main_list table.table .product_info{
    padding-top:3px;
    width:200px;
}

.main_list table.table .product_info img {
    float: left;
    width: 50px;
    cursor:pointer;
}

.main_list table.table .product_info .text {
    width: 150px;
    float:left;
    padding-left:3px;
}

.main_list table.table .product_info .text ul {
    margin:0;
    padding:0;
}

.main_list table.table .product_info .text ul li{
    line-height:20px;
}

.main_edit {
    padding-top: 10px;
}

.main_edit table.table, .main_edit table.table1 {
	width: 100%;
	background-color: #d4d4d4;
	border-collapse: separate;
	border-spacing: 1px;
	font-size: 12px;
}

.main_edit table.table th {
	width: 25%;
	background-color: #f2f2f2;
	text-align: right;
	padding:3px 5px 3px 0;
	font-weight: normal;
	line-height: 32px;
}

.main_edit table.table1 th {
	width: 15%;
	background-color: #f2f2f2;
	text-align: right;
	padding:3px 5px 3px 0;
	font-weight: normal;
	line-height: 32px;
}

.main_edit table.table td, .main_edit table.table1 td {
    padding: 2px 0px 2px 10px;
	text-align: left;
	background-color: #fff;
    vertical-align: middle;
    line-height: 26px;
}

.main_edit table.table td.btn_button, .main_edit table.table1 td.btn_button{
	height: 28px;
	text-align: center;
	background-color: #f2f2f2;
}

.main_edit table.table label,.main_edit table.table1 label{
    font-weight:normal;
}

/**main_operate**/
.main_operate {
	border: 1px #d4d4d4 solid;
    padding:5px 0;
}

.main_operate ul {
	padding: 1px 0 0 10px;
}

.main_operate ul li {
	display:inline-block;
	padding-right: 10px;
}

/**main_nav**/
.main_nav {
	
}

.main_nav .nav-tabs {
	width: 100%;
	border-bottom: 1px #d4d4d4 solid;
	height: 25px;
	padding-top: 6px;
}

.main_nav .nav-tabs li {
	border: none;
	display: inline-block;
	float: left;
	margin: -1px 0 0 0;
	position: relative;
	padding-left: 5px;
}

.main_nav .nav-tabs a {
	display: inline-block;
	border: 1px #d4d4d4 solid;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	height: 22px;
	line-height: 22px;
	background: linear-gradient(to bottom, #eff5ff 0px, #e0ecff 100%)
		repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	color: #0e2d5f;
	padding: 3px 5px 0 5px;
}

.main_nav .nav-tabs a.active {
	border-bottom: 1px #fff solid;
	background: linear-gradient(to bottom, #eff5ff 0px, #fff 100%) repeat-x
		scroll 0 0 rgba(0, 0, 0, 0);
	font-weight: bold;
}

.main_nav .nav-tabs a:hover {
	color: #000;
	text-decoration: none;
}

.main_nav .nav-tabs a.active:hover {
	color: #0e2d5f;
}

/**main_tab**/
.main_tab{
    padding:5px;
}

.main_tab .tab_nav{
    text-align:left;
    font-size:14px;
    line-height:32px;
    padding:0 0 10px 20px;
    font-weight:bold;
    border-bottom:1px #ccc dashed;
}

/**main_uploadfile**/
.main_upload_file{
    padding:20px 10px 10px 10px;
}

.main_upload_file .upload_input{
    padding-bottom:8px;
}

.main_upload_file .upload_message{
    margin-top:10px;
    font-size:14px;
}

.main_upload_dir {
	font-size: 13px;
	line-height: 24px;
    padding:3px 0;
}

.main_upload_dir a {
    padding-left:10px;
    background:url(images/rlist.gif) no-repeat 5px 6px;
}

.main_upload_dir span{
    padding-left:15px;
    background:url(images/rlist.gif) no-repeat 7px 6px;
}

.main_upload_dir i{
    color:#e7d177;
}

.main_upload_view{

}

/**main_checklist**/
.main_checklist{
    display:inline-block;
    border:1px #d4d4d4 solid;
    border-radius:5px;
    margin-top:0px;
    padding:10px;
}

.main_checklist ul li{
    width:25%;
    line-height:24px;
    float:left;
    padding:3px 5px;
}

/**select_multiple**/
.select_multiple{
    width:99%;
    /**border: 1px #e5e5e5 solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;**/
    margin: 5px 5px 0 5px;
}

.select_multiple .option{
    padding: 3px 0 10px 0;
    border-bottom:1px #d4d4d4 dashed;
}

.select_multiple .option ul {
	padding: 1px 0 0 10px;
}

.select_multiple .option ul li {
	display:inline-block;
	padding-right: 10px;
    line-height:32px;
}

.select_multiple .multiple{
    padding-top:10px;
    height:auto;
}

.select_multiple .multiple .left{
    width: 40%;
    float: left;
    text-align: right;
}

.select_multiple .multiple .center{
    width: 19%;
    float: left;
    text-align: center;
    margin-top: 30px;
}

.select_multiple .multiple .center span{
    display: block;
    padding: 10px 0;
}
.select_multiple .multiple .right{
    width: 40%;
    float: left;
    text-align: left;
}

.select_multiple .multiple select{
    border:1px #d4d4d4 solid;
    width: 225px;
    height: 300px;
}

.select_multiple .bottom{
    text-align: center;
    clear: left;
    height: 28px;
    padding-bottom: 10px;
}

/**common_tablee**/
.common_table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    border:1px #ddd solid;
}
.common_table th{
    text-align: center;
    font-weight: normal;
    line-height: 22px;
    background-color: #f5f5f5;
    border-color: #ccc;
    border-width: 0 1px 1px 0;
    border-style: dotted;
}
.common_table td{
    padding-left: 10px;
    text-align: center;
    line-height: 22px;
    padding:3px 0;
    border-color: #ccc;
    border-width: 0 1px 1px 0;
    border-style: dotted;
}
.common_table tr.last td{
    border-bottom:0px;
}

.common_table1{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    background-color: #d4d4d4;
}
.common_table1 th{
    text-align: center;
    font-weight: normal;
    line-height: 24px;
    padding-left: 10px;
    background-color: #f2f2f2;
}
.common_table1 td{
    padding: 3px 0 3px 10px;
    text-align: center;
    line-height: 20px;
    background-color: #fff;
}

/**error**/
.error{
    background:url(images/404.png) no-repeat; 
    width:490px; 
    margin-top:75px;
    padding-top:65px;
}
.error h2{
    font-size:22px; 
    padding-left:154px;
}
.error p{
    padding-left:154px; 
    line-height:35px;
    color:#717678;
}

/**power_list**/
.power_list{

}

.power_list ul li{
    padding:1px 0;
}

.power_list ul li dt{
    font-size:14px;
    font-weight:bold;
}

.power_list ul li dd{
    line-height:20px;
    font-weight:normal;
}

.power_list ul li dd input{
    margin:0px 3px 0 10px;
}

.power_list ul li dd span.detail_power{
    padding-left:10px;
}

/**power_list1**/
.power_list1{

}

.power_list1 ul li{
    padding:1px 0;
}

.power_list1 ul li dt{
    font-size:14px;
    font-weight:bold;
}

.power_list1 ul li dd{
    display:block;
    padding:3px 0;
    line-height:20px;
    font-weight:normal;
}

.power_list1 ul li dd input{
    margin:0px 3px 0 10px;
}

.power_list1 ul li dd span.detail_power{
    padding-left:10px;
}

/**common**/
.common-list,.common-list_25{
    margin:5px 3px;
}

.common-list h3,.common-list_25 h3{
    padding:0px;
    margin:0px;
    font-size:12px;
    clear:left;
}

.common-list li{
	display:block;
	line-height:24px;
    padding:1px 0;
}

.common-list li span,.common-list_25 li span{
	padding:0 3px;
    margin:0 5px 0 5px;
}

.common-list li i{
	margin-bottom:-3px;
}

.common-list_25 li{
    width:25%;
    float:left;
	display:block;
	line-height:24px;
}

/**common-list-table**/
.common-list-table{
    margin:3px;
    border-radius:5px;
    border:1px #d4d4d4 solid;
}

.common-list-table li{
    min-height:32px;
    border-bottom:1px #d4d4d4 solid;
    padding:2px;
    text-align:left;
    vertical-align:middle;
    overflow:hidden;
}

.common-list-table li:last-child{
    border:none;
}

.common-list-table li.common-list-table-tr{
    background-color:#f2f2f2;
}

.common-list-table li.common-list-table-tr span{
    padding-left:5px;
	line-height:32px;
}

.common-list-table li.common-list-table-td{  
}

.common-list-table li.common-list-table-td span{
    padding-left:5px;
	line-height:32px;
}

.common-list-table li .avg-1{
    width:8.3%;
    display:inline-block;
    float:left;
}

.common-list-table li .avg-2{
    width:16.6%;
    display:inline-block;
    float:left;
}

.common-list-table li .avg-3{
    width:25%;
    display:inline-block;
    float:left;
}

.common-list-table li .avg-4{
    width:33.3%;
    display:inline-block;
    float:left;
}

.common-list-table li .avg-5{
    width:41.6%;
    display:inline-block;
    float:left;
}

.common-list-table li .avg-6{
    width:50%;display:inline-block;float:left;
}

.common-list-table li .avg-7{
    width:58.3%;display:inline-block;float:left;
}

.common-list-table li .avg-9{
    width:75%;display:block;float:left;
}

.common-list-table li .avg-11{
    width:91.6%;display:block;float:left;
}

.common-list-table li .avg-12{
    width:100%;display:block;float:left;
}

/**selectIcon**/
.select_icon{
    display:inline-block;
    margin: 10px 10px 0 10px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}
.select_icon dl{
    clear:left;
}
.select_icon dt{
    font-size:18px;
    padding:15px 0 2px 5px;
    margin:3px 10px;
    border-bottom:1px #eee solid;
}
.select_icon dd{
    float:left;
    width:45px;
    height:45px;
    line-height:45px;
    text-align:center;
    font-size:14px;
    margin:0px;
}
.select_icon dd a{
    display:block;
    color:#222;
}
.select_icon dd a:hover{
    font-size:24px;
    background-color: #21bcb5;
}