<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--control-->
    <add key="isMonitorSerivce" value="0"/>
    <add key="isCopyPrice" value="0"/>
    <add key="isCompressLog" value="1"/>
    <!--monitor-->
    <!--服务名称-->
    <add key="serviceName" value="MSSQLSERVER"/>
    <!--间隔执行时间(分钟)-->
    <add key="timerInterval" value="15"/>
    <!--copy file-->
    <add key="copyFilePath" value="D:\Project\Order Management System\JapanTumi\Test\bin\Debug\DownFromFTP\ECommerce-Demandware-Samsonite"/>
    <!--固定执行时间-->
    <add key="fixTime" value="01:45:00"/>
    <!--ftp信息-->
    <add key="ftpIP" value="ftpasia.samsonite.com"/>
    <add key="ftpPort" value="22"/>
    <add key="ftpAccount" value="tomsall"/>
    <add key="ftpPassword" value="boston@1"/>
    <add key="ftpPath" value="/5010/3rd Party/Demandware/FROM_OMS/"/>
    <!--compress file-->
    <!--需要清理的日志目录-->
    <add key="logDir" value="D:\Project\Order Management System\JapanTumi\Test\bin\Debug\DownFromFTP"/>
    <!--固定执行时间-->
    <add key="logFixTime" value="00:30:00"/>
    <!--日志保留时长(天)-->
    <add key="logKeepDay" value="7"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
