@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="main_edit">
        <form id="subform" method="post">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>服务名称：
                        </th>
                        <td>
                            <input name="ModuleTitle" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>服务工作流ID：
                        </th>
                        <td>
                            <input name="ModuleWorkflowID" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>服务标识：
                        </th>
                        <td>
                            <input name="ModuleMark" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>Assembly：
                        </th>
                        <td>
                            <input name="ModuleAssembly" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>Class：
                        </th>
                        <td>
                            <input name="ModuleType" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>BLL：
                        </th>
                        <td>
                            <input name="ModuleBLL" type="text" class="easyui-textbox input-xlarge" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            定时类型：
                        </th>
                        <td>
                            <input id="f1" name="FixType" type="radio" value="1" checked="checked"><label for="f1">间隔执行</label>
                            <input id="f2" name="FixType" type="radio" value="2"><label for="f2">定时执行</label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            时间：
                        </th>
                        <td>
                            <input name="FixTime" type="text" class="easyui-textbox input-large" />
                            <span class="label-info">*24小时制</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>是否有效：
                        </th>
                        <td>
                            <input id="r_1" name="IsRun" type="radio" value="1" checked="checked"><label for="r_1">是</label>
                            <input id="r_2" name="IsRun" type="radio" value="0"><label for="r_2">否</label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="color_danger">*</span>是否错误通知：
                        </th>
                        <td>
                            <input id="n_1" name="IsNotify" type="radio" value="1" checked="checked"><label for="n_1">是</label>
                            <input id="n_2" name="IsNotify" type="radio" value="0"><label for="n_2">否</label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            简要描述：
                        </th>
                        <td>
                            <textarea name="Remark" class="easyui-textarea  input-xlarge" style="height:100px;"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
